.btn-back {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 2px solid #c4c4c4;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-start;
    margin: 15px;
}

.hero{
    display: flex;
    position: relative;
    z-index: 5;
    text-align: left;
}

.hero .bg {
    background: no-repeat;
    position: absolute;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 20%;
    box-shadow: inset 0px -100px 100px #000000;
}

.hero img {
    border-radius: 15px;
    max-height: 350px;
    margin: 15px;
}

.movie-info {
    color: #c4c4c4;
    margin-left: 20px;
}

.movie-info h1 {
    color: #FFF;
    text-align: left;
}

.movie-info p {
    width: 70%;
}

.movie-info span {
    color: yellow;
}

.genres {
    font-weight: bold;
}